{% extends '_base.html' %}

{% block content %}
    <div class="dis-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="dis-my-card">
                    <div class="dis-my-card-header">
                        <h5 class="dis-my-card-title">AGE DISCLAIMER</h5>
                    </div>
                    <div class="dis-my-card-body">
                        <p class="dis-my-card-text">"We utilize various services to operate this website. Please note that
                            Bhseeds.com and all associated parties do not accept any responsibility for the use of
                            products advertised on this site.

                            This website is intended for adult visitors only. All content provided is for educational
                            purposes and should not be construed as promoting, condoning, or inciting the use of illegal
                            or controlled substances.

                            All seeds sold on this site are intended as souvenirs only and should not be used for any
                            illegal activities. All advertised products are for novelty purposes only and are not meant
                            for illegal use.

                            As the legal status of certain products may vary across different countries, we kindly ask
                            all visitors to check their local laws before ordering any products. Bhseeds.com does not
                            encourage anyone to act in conflict with their national laws and cannot be held liable for
                            any such actions."

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="dis-my-card">
                    <div class="dis-my-card-header">
                        <h5 class="dis-my-card-title">SEED DISCLAIMER</h5>
                    </div>
                    <div class="dis-my-card-body">
                        <p class="dis-my-card-text">Warning! Germination of cannabis seeds is illegal in most countries
                            including the U.K. These seeds are sold by PureSativa.com as collectable adult souvenenirs
                            to help preserve the cannabis genetics for future generations. Please do not ask questions
                            on how to grow these seeds as under current legislation it is illegal to grow them or
                            encourage their growth through giving advice.
                            Any information on the packaging of the seeds, marketing material or websites, is given for
                            the educational purpose or purposes of differentiation. It is not intended to condone,
                            promote or incite the use of illegal or controlled substances.
                            As a PureSativa.com customer, you are prohibited from distributing seeds we supply to
                            countries where possession of and/or trafficking in Cannabis seeds or other seeds is
                            illegal.
                            PureSativa.com is a UK company and sells predominately to UK customers. By selling cannabis
                            seeds to persons unable to grow cannabis, we are helping to circulate and preserve the pool
                            of cannabis genetics. The illegality of cannabis has caused a major reduction in its gene
                            pool, leading to a higher risk of extinction of major cannabis seed strains. This cannot be
                            allowed to happen it is our responsibility and human right to protect Natures genetics.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
