{% extends '_base.html' %}

{% block content %}
    <div class="dis-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="dis-my-card">
                    <div class="dis-my-card-header">
                        <h5 class="dis-my-card-title">AGE DISCLAIMER</h5>
                    </div>
                    <div class="dis-my-card-body">
                        <p class="dis-my-card-text">"We utilize various services to operate this website. Please note
                            that
                            Bhseeds.com and all associated parties do not accept any responsibility for the use of
                            products advertised on this site.
<br>
                            This website is intended for adult visitors only. All content provided is for educational
                            purposes and should not be construed as promoting, condoning, or inciting the use of illegal
                            or controlled substances.
<br>
                            All seeds sold on this site are intended as souvenirs only and should not be used for any
                            illegal activities. All advertised products are for novelty purposes only and are not meant
                            for illegal use.
<br>
                            As the legal status of certain products may vary across different countries, we kindly ask
                            all visitors to check their local laws before ordering any products. Bhseeds.com does not
                            encourage anyone to act in conflict with their national laws and cannot be held liable for
                            any such actions."

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="dis-my-card">
                    <div class="dis-my-card-header">
                        <h5 class="dis-my-card-title">SEED DISCLAIMER</h5>
                    </div>
                    <div class="dis-my-card-body">
                        <p class="dis-my-card-text">Important notice: Germinating cannabis seeds is illegal in most
                            countries. Bhseeds.com sells these seeds as collectible adult souvenirs, aiming to preserve
                            cannabis genetics for future generations.
<br>
                            Any information on the packaging, marketing materials, or websites is provided for
                            educational purposes or differentiation only. It should not be interpreted as promoting,
                            condoning, or inciting the use of illegal or controlled substances.
<br>
                            As a Bhseeds.com customer, you are strictly prohibited from distributing our seeds to
                            countries where possession of or trafficking in cannabis seeds is illegal.
<br>
                            By selling cannabis seeds to individuals who cannot legally cultivate them, we contribute to
                            the preservation and circulation of cannabis genetics. The prohibition of cannabis has
                            significantly reduced its gene pool, increasing the risk of extinction for certain strains.
                            It is our responsibility and inherent right to protect Nature's genetics.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
