{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Barnysfarm Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys1.jpg' %}" alt="Image 1">
                <p>GORILLA ZKITTLEZ STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys2.jpg' %}" alt="Image 2">
                <p>MIMOSA X ORANGE PUNCH STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys3.jpg' %}" alt="Image 3">
                <p>BLUE GELATO 41 STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys4.jpg' %}" alt="Image 4">
                <p>DOS SI DOS 33 STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys5.jpg' %}" alt="Image 5">
                <p>LSD STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys6.jpg' %}" alt="Image 6">
                <p>MIMOSA EVO STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys7.jpg' %}" alt="Image 1">
                <p>TROPICANNA BANANA STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys8.jpg' %}" alt="Image 2">
                <p>STRAWBERRY LEMONADE STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys9.jpg' %}" alt="Image 3">
                <p>PINEAPPLE CHUNK STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys10.jpg' %}" alt="Image 4">
                <p>PURPLE PUNCH STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys11.jpg' %}" alt="Image 5">
                <p>RUNTZ X LAYER CAKE STRAIN</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/barnys/barnys12.jpg' %}" alt="Image 6">
                <p>ICE CREAM CAKE STRAIN</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}