{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Bloom Seeds Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds1.jpg' %}" alt="Image 1">
                <p>Dulce de Uva X Too Much Z</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds2.jpg' %}" alt="Image 2">
                <p>Peanut Butter Lime</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds3.jpg' %}" alt="Image 3">
                <p>Maple Nectar</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds4.jpg' %}" alt="Image 4">
                <p>Rainbow Push Pop</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds5.jpg' %}" alt="Image 5">
                <p>Grape Cream Cake</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds6.jpg' %}" alt="Image 6">
                <p>MAD Honey</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds7.jpg' %}" alt="Image 1">
                <p>The Fizz</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds8.jpg' %}" alt="Image 2">
                <p>TTRS</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds9.jpg' %}" alt="Image 3">
                <p>Grape Guava</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds10.jpg' %}" alt="Image 4">
                <p>Guava Cream</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds11.jpg' %}" alt="Image 5">
                <p>Papaya Power</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/bloomseeds/bloomseeds12.jpg' %}" alt="Image 6">
                <p>Super Gremlin</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}