{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Cipher Genetics Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg1.jpg' %}" alt="Image 1">
                <p>Face Twister</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg2.jpg' %}" alt="Image 2">
                <p>Grapebanger</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg3.jpg' %}" alt="Image 3">
                <p>Red Panda</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg4.jpg' %}" alt="Image 4">
                <p>100 Rackz</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg5.jpg' %}" alt="Image 5">
                <p>Caramelz</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg6.jpg' %}" alt="Image 6">
                <p>Chikitaz</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg7.jpg' %}" alt="Image 1">
                <p>Gas Burzt</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg8.jpg' %}" alt="Image 2">
                <p>Prism OZ</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/ciphergenetics/cg9.jpg' %}" alt="Image 3">
                <p>DOpamine</p>
            </div>
        </div>

    </div>
    <br>
{% endblock %}