{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Compound Genetics Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound1.jpg' %}" alt="Image 1">
                <p>La Bomba</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound2.jpg' %}" alt="Image 2">
                <p>Marshmallow OG</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound3.jpg' %}" alt="Image 3">
                <p>High Society</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound4.jpg' %}" alt="Image 4">
                <p>Animorph Mints</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound5.jpg' %}" alt="Image 5">
                <p>El Valle Haze</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound6.jpg' %}" alt="Image 6">
                <p>Luxar-Dos</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound7.jpg' %}" alt="Image 1">
                <p>Slipstream</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound8.jpg' %}" alt="Image 2">
                <p>Jet Puft</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound9.jpg' %}" alt="Image 3">
                <p>La Bomba Esé</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound10.jpg' %}" alt="Image 4">
                <p>El Ponche</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound11.jpg' %}" alt="Image 5">
                <p>Gastro Pop S1</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/compound/compound12.jpg' %}" alt="Image 6">
                <p>10 G's</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}