{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">ClearWater Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 1">
                <p>Black Velvet</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 2">
                <p>Devil’s Den</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 3">
                <p>Hi Chew x Black Velvet</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 4">
                <p>Hi Chew x Karma Sour Diesel</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 5">
                <p>Gargantua</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 6">
                <p>Gastronaut #60 x Hi Chew</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 1">
                <p>Triangle Kush x Karma Sour Diesel</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 2">
                <p>GeForce</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 3">
                <p>Purple Doses</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 4">
                <p>Motorbreath #15 x Black Velvet</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 5">
                <p>Big Dipper 135</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/clearwater/clearwater.jpg' %}" alt="Image 6">
                <p>Astronaut Status</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}