{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Exotic Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo1.png' %}" alt="Image 1">
                <p>Random 3-Pack</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo2.png' %}" alt="Image 2">
                <p>Yikes</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo3.png' %}" alt="Image 3">
                <p>Lazer Fuel</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo4.png' %}" alt="Image 4">
                <p>Apes in Space</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo5.png' %}" alt="Image 5">
                <p>Black Patronus</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo6.png' %}" alt="Image 6">
                <p>Money Ball</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo7.png' %}" alt="Image 1">
                <p>Strawneapple</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo8.jpg' %}" alt="Image 2">
                <p>Code Red</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo9.jpg' %}" alt="Image 3">
                <p>Planet Sherb</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo10.jpg' %}" alt="Image 4">
                <p>Falcon Heavy</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo11.png' %}" alt="Image 5">
                <p>Truffle Monkey</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/exoticsgenetics/exo12.jpg' %}" alt="Image 6">
                <p>Grand Master Sexy</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}