{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Fresh Coast Seeds Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/FreshCoast/freshcost1.jpg' %}" alt="Image 1">
                <p>Random 3-Pack</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/FreshCoast/freshcost2.jpg' %}" alt="Image 2">
                <p>Yikes</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/FreshCoast/freshcost3.jpg' %}" alt="Image 3">
                <p>Lazer Fuel</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/FreshCoast/freshcost4.jpg' %}" alt="Image 4">
                <p>Apes in Space</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/FreshCoast/freshcost5.jpg' %}" alt="Image 5">
                <p>Black Patronus</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/FreshCoast/freshcost6.jpg' %}" alt="Image 6">
                <p>Money Ball</p>
            </div>
        </div>

    </div>
    <br>
{% endblock %}