{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Gage Green Group Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/gggenetics/gg1.jpg' %}" alt="Image 1">
                <p>ZLUE FEMINIZED</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/gggenetics/gg2.jpg' %}" alt="Image 2">
                <p>ORIGINAL GLUE AKA GG4</p>
            </div>
        </div>

    <br>
{% endblock %}