{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">GreenHouse Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green1.jpg' %}" alt="Image 1">
                <p>THE CHURCH</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green2.jpg' %}" alt="Image 2">
                <p>SUPER LEMON HAZE</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green3.jpg' %}" alt="Image 3">
                <p>SUPER SILVER HAZE</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green4.jpg' %}" alt="Image 4">
                <p>KING'S JUICE AUTO</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green5.jpg' %}" alt="Image 5">
                <p>WHITE WIDOW </p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green6.jpg' %}" alt="Image 6">
                <p>FRANCO'S LEMON CHEESE</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green7.jpg' %}" alt="Image 1">
                <p>LEMON SKUNK</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green8.jpg' %}" alt="Image 2">
                <p>KALASHNIKOVA</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green9.jpg' %}" alt="Image 3">
                <p>EXODUS CHEESE</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green10.jpg' %}" alt="Image 4">
                <p>CHEMICAL BRIDE</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green11.jpg' %}" alt="Image 5">
                <p>GREAT WHITE SHARK</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/greenhouse/green12.jpg' %}" alt="Image 6">
                <p>SWEET VALLEY KUSH</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}