{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Exotic Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy1.jpg' %}" alt="Image 1">
                <p>Alien Fire Fruit</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy2.jpg' %}" alt="Image 2">
                <p>Apple Ice-Cream</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy3.jpg' %}" alt="Image 3">
                <p>Atomic Sherbert</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy4.jpg' %}" alt="Image 4">
                <p>Banana Bread</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy5.jpg' %}" alt="Image 5">
                <p>Banana Candy Creams</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy6.jpg' %}" alt="Image 6">
                <p>Banana Crack</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy7.jpg' %}" alt="Image 1">
                <p>Banana Diesel</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy8.jpg' %}" alt="Image 2">
                <p>Banana Ice-Cream</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy9.jpg' %}" alt="Image 3">
                <p>Banana Sativa</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy10.jpg' %}" alt="Image 4">
                <p>Banana Sunrise</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy11.jpg' %}" alt="Image 5">
                <p>Blue Strawberries</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/holysmoke/holy12.jpg' %}" alt="Image 6">
                <p>Bong Biscuits</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}