{% extends '_base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="carousel">
            <div class="slide slide1 active-slide">
                <div class="texts">
                                    <span class="slide-title">
                    LOOKING FOR
                    <br>
                    WHOLESALE?
                </span>
                    <p class="slide-desc">
                        Visit our contact page today and discover how our dedicated team is ready to assist you in
                        having the best possible ordering experience with us. From personalized support to seamless
                        transaction processes, we are committed to ensuring your complete satisfaction with every order
                        you place.
                    </p>
                    <a href="#">
                        Go To Contact Us
                    </a>
                </div>
                <img src="{% static 'images/slide-box.svg' %}">
            </div>
            <div class="slide slide2">
                <div class="texts">
                                    <span class="slide-title">
                    FIND THE BEST GENETICS <br> IN THE WORLD

                </span>
                    <p class="slide-desc">
                        Explore our brand pages to discover the best genetics in the world. Our extensive selection
                        ensures you access to top-quality genetic materials that meet your specific needs. Whether
                        you're looking for exceptional varieties or rare finds, our curated collection promises
                        unparalleled quality and value, all designed to help you achieve outstanding results.

                    </p>
                </div>
            </div>
            <div class="slide slide3">
                <div class="texts">
                                    <span class="slide-title">
                    ONLY GUARANTEED<br>PRODUCTS

                </span>
                    <p class="slide-desc">
                        We proudly guarantee all of our products, ensuring you receive only the highest quality and
                        performance. Our commitment to excellence means that every item undergoes rigorous testing and
                        quality checks. Shop with confidence, knowing that your satisfaction is our top priority and
                        that we stand firmly behind everything we offer.
                    </p>
                </div>
            </div>
            <div class="sliderdots">
                <div class="sliderdot active-dot">

                </div>
                <div class="sliderdot ">

                </div>
                <div class="sliderdot">

                </div>
            </div>
            <div class="slider-arrow arrow-left-slider">
                <img src="{% static 'images/arrow-left.svg' %}">
            </div>
            <div class="slider-arrow arrow-right-slider">
                <img src="{% static 'images/arrow-left.svg' %}">
            </div>
        </div>

        <script>
            const carouselSlides = document.querySelectorAll('.slide')
            const carouselDots = document.querySelectorAll('.sliderdot')
            const sliderArrows = document.querySelectorAll('.slider-arrow')
            const showSlidesTime = 5000;
            let endSlideIndex = carouselSlides.length - 1
            let activeSlideIndex
            let thisSlide
            let slideFunctionVar

            function activeSlide(x) {
                activeSlideIndex = x === undefined ? 0 : x
                carouselSlides.forEach(carouselSlide => {
                    carouselSlide.classList.remove('active-slide')
                })
                carouselSlides[x].classList.add('active-slide')
                carouselDots.forEach(carouselDot => {
                    carouselDot.classList.remove('active-dot')
                })
                carouselDots[activeSlideIndex].classList.add('active-dot')
                slideFunctionVar = function () {
                    carouselSlides.forEach(carouselSlide => {
                        carouselSlide.classList.remove('active-slide')
                    })
                    activeSlideIndex = activeSlideIndex !== endSlideIndex ? activeSlideIndex + 1 : 0
                    carouselSlides[activeSlideIndex].classList.add('active-slide')
                    carouselDots.forEach(carouselDot => {
                        carouselDot.classList.remove('active-dot')
                    })
                    carouselDots[activeSlideIndex].classList.add('active-dot')
                }
                thisSlide = setInterval(slideFunctionVar, showSlidesTime)
            }

            document.addEventListener('DOMContentLoaded', activeSlide(0))

            carouselDots.forEach(carouselDot => {
                carouselDot.addEventListener('click', () => {
                    carouselDots.forEach(carouselDot => {
                        carouselDot.classList.remove('active-dot')
                    })
                    carouselDot.classList.add('active-dot')
                    let dotIndex = [].indexOf.call(carouselDots, carouselDot);
                    clearInterval(thisSlide)
                    activeSlide(dotIndex)
                })
            })

            sliderArrows.forEach(sliderArrow => {
                sliderArrow.addEventListener('click', () => {
                    if (sliderArrow.classList.contains('arrow-right-slider')) {
                        clearInterval(thisSlide)
                        let activeThisSlideIndex = activeSlideIndex === 2 ? -1 : activeSlideIndex
                        activeSlide(activeThisSlideIndex + 1)
                    } else {
                        clearInterval(thisSlide)
                        let activeThisSlideIndex = activeSlideIndex === 0 ? 3 : activeSlideIndex
                        activeSlide(activeThisSlideIndex - 1)
                    }

                    {#let dotIndex = [].indexOf.call(carouselDots, carouselDot);#}
                    {#console.log(dotIndex)#}
                    {#clearInterval(thisSlide)#}
                    {#activeSlide(dotIndex)#}
                })
            })
        </script>

        <div class="offers-section">
            <a href="#" class="most-popular">

                <img src="{% static 'images/star.svg' %}">
                <span>Most Popular Genetics</span>
                <img src="{% static 'images/arrow-right.svg' %}">
            </a>
            <div class="offers-section-items most-popular">
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
            </div>
        </div>


        <div class="offers-section">
            <a href="#" class="offer">

                <img src="{% static 'images/Vector (7).svg' %}">
                <span>Special Offers</span>
                <img src="{% static 'images/Vector (8).svg' %}">
            </a>
            <div class="offers-section-items offer">
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
            </div>
        </div>


        <div class="offers-section">
            <a href="#" class="strongest-genetics">

                <img src="{% static 'images/Vector (9).svg' %}">
                <span>Strongest Genetics</span>
                <img src="{% static 'images/Vector (10).svg' %}">
            </a>
            <div class="offers-section-items strongest-genetics">
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
                <div class="offers-section-item">
                    <img src="{% static 'images/exo11.png' %}" class="offers-section-item-img">
                    <span class="offers-section-item-name">
                    Truffle Monkey
                </span>
                </div>
            </div>
        </div>


        <div class="product-list">
            <div class="product-filters">
                <div class="product-list-title-icon">
                    <img src="{% static 'images/product-list-icon.svg' %}">
                    <span class="product-list-title">
                        Product List
                    </span>
                </div>
                <button class="filters-title all-filters active" data-filter="all">
                    <span>
                        Companies
                    </span>
                </button>
                <button href="#" class="filters-title">
                    <span>
                        Pack Size
                    </span>
                    <img src="{% static 'images/close-icon.svg' %}">
                </button>
                <div class="product-filters-items hidden">
                    <div class="product-filters-item" data-filter="2">
                        2 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="3">
                        3 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="5">
                        5 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="6">
                        6 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="7">
                        7 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="8">
                        8 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="10">
                        10 Seeds per pack
                    </div>
                </div>
                <button href="#" class="filters-title">
                    <span>
                        Indoor/Outdoor
                    </span>
                    <img src="{% static 'images/close-icon.svg' %}">
                </button>
                <div class="product-filters-items hidden">
                    <div class="product-filters-item" data-filter="indoor">
                        indoor
                    </div>
                    <div class="product-filters-item" data-filter="3">
                        3 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="5">
                        5 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="6">
                        6 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="7">
                        7 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="8">
                        8 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="10">
                        10 Seeds per pack
                    </div>
                </div>
                <button href="#" class="filters-title">
                    <span>
                        Pack Size
                    </span>
                    <img src="{% static 'images/close-icon.svg' %}">
                </button>
                <div class="product-filters-items hidden">
                    <div class="product-filters-item" data-filter="2">
                        2 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="3">
                        3 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="5">
                        5 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="6">
                        6 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="7">
                        7 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="8">
                        8 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="10">
                        10 Seeds per pack
                    </div>
                </div>
                <button href="#" class="filters-title">
                    <span>
                        Pack Size
                    </span>
                    <img src="{% static 'images/close-icon.svg' %}">
                </button>
                <div class="product-filters-items hidden">
                    <div class="product-filters-item" data-filter="2">
                        2 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="3">
                        3 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="5">
                        5 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="6">
                        6 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="7">
                        7 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="8">
                        8 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="10">
                        10 Seeds per pack
                    </div>
                </div>
                <button href="#" class="filters-title">
                    <span>
                        Pack Size
                    </span>
                    <img src="{% static 'images/close-icon.svg' %}">
                </button>
                <div class="product-filters-items hidden">
                    <div class="product-filters-item" data-filter="2">
                        2 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="3">
                        3 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="5">
                        5 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="6">
                        6 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="7">
                        7 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="8">
                        8 Seeds per pack
                    </div>
                    <div class="product-filters-item" data-filter="10">
                        10 Seeds per pack
                    </div>
                </div>
            </div>
            <div class="product-items">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="2">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="3">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="3">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="2">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="5">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="5">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="6">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="6">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="7">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="8">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="8">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="8 indoor ">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="8">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="8">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="8">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="10">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="10">
                <img src="{% static 'images/exo.png' %}" class="product-item" data-itemattr="10">

            </div>
        </div>


    </div>


    <br><br>

    <!-- Modal -->
    <div class="modal fade" id="ageModal" tabindex="-1" aria-labelledby="ageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header custom-modal-header">
                    <h5 class="modal-title custom-modal-title" id="ageModalLabel">Age Verification</h5>
                </div>
                <div class="modal-body custom-modal-body">
                    <p class="custom-modal-text">This website contains content that is only suitable for adults. Please
                        verify your age to proceed.</p>
                    <button type="button" class="btn btn-primary custom-confirm-btn" id="confirmAge">I am 18 or older
                    </button>
                    <button type="button" class="btn btn-secondary custom-deny-btn" id="denyAge">I am under 18</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Function to set a cookie
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        // Function to get a cookie
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        // Check if the age verification cookie exists
        $(document).ready(function () {
            var ageVerified = getCookie("ageVerified");

            if (!ageVerified) {
                $('#ageModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });

                $('#ageModal').modal('show');
            }

            $('#confirmAge').click(function () {
                setCookie("ageVerified", "true", 30); // Set the cookie to expire in 30 days
                $('#ageModal').modal('hide');
            });

            $('#denyAge').click(function () {
                window.location.href = 'https://www.google.com';
            });
        });
    </script>

{% endblock %}
