{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Serious Seeds Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious1.png' %}" alt="Image 1">
                <p>AK-47</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious2.png' %}" alt="Image 2">
                <p>Auto AK-47</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious3.png' %}" alt="Image 3">
                <p>Auto White Russian</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious4.png' %}" alt="Image 4">
                <p>Biddy Early</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious5.png' %}" alt="Image 5">
                <p>Bubble Gum</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious6.png' %}" alt="Image 6">
                <p>CBD-Chronic</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious7.png' %}" alt="Image 1">
                <p>CBD-Warlock</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious8.png' %}" alt="Image 2">
                <p>Chronic </p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious9.png' %}" alt="Image 3">
                <p>Double Dutch</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious10.png' %}" alt="Image 4">
                <p>Kali Mist</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious11.png' %}" alt="Image 5">
                <p>KaliBubba </p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/serious/serious12.png' %}" alt="Image 6">
                <p>Motavation </p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}