{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Tiki-Madman Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/tikigenetics/tiki1.jpg' %}" alt="Image 1">
                <p>Watermelon Zaza S1</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/tikigenetics/tiki2.jpg' %}" alt="Image 2">
                <p>Pineapple Whip S1</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/tikigenetics/tiki3.jpg' %}" alt="Image 3">
                <p>Pineapple Punk Feminized</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/tikigenetics/tiki4.jpg' %}" alt="Image 4">
                <p>Runtz De Frutas Feminized</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/tikigenetics/tiki5.jpg' %}" alt="Image 5">
                <p>Watermelon Blast Regula</p>
            </div>
        </div>

    <br>
{% endblock %}