{% extends '_base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="exotic-title">Zmoothiez Page</h1>
    <br>
    <div class="exotic-container">
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez1.jpg' %}" alt="Image 1">
                <p>Banana Jelly’Z</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez2.jpg' %}" alt="Image 2">
                <p>Candy lime</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez3.jpg' %}" alt="Image 3">
                <p>Candy’N Cream</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez4.jpg' %}" alt="Image 4">
                <p>Forbidden nectar</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez5.jpg' %}" alt="Image 5">
                <p>Frozen cherry</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez6.jpg' %}" alt="Image 6">
                <p>Guavarit</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez7.jpg' %}" alt="Image 1">
                <p>Jellyciouz</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez8.jpg' %}" alt="Image 2">
                <p>Juicy Drop’Z</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez9.jpg' %}" alt="Image 3">
                <p>Limepaya</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez10.jpg' %}" alt="Image 4">
                <p>Miss orange nectar</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez11.jpg' %}" alt="Image 5">
                <p>Sugar tree</p>
            </div>
        </div>
        <div class="exotic-item">
            <div class="exotic-card">
                <img src="{% static 'images/zmoothiez/zmoothiez12.jpg' %}" alt="Image 6">
                <p>Supa Choopz</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}